@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

.App {
  font-family: 'Noto Sans', sans-serif;
}

.home-page img {
  width: 100%;
  height: 90vh;
}

.home-page-nav ul {  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#5b93f0;
}

.home-page h1 {
  color: white;
  font-size:35px;
}

.home-page {
  position: relative;
}

.quote {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 20%;
  bottom: 50vh;
}

/* login signup */

.login-signup {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15vh;
}

.login form, .signup form {
  padding: 3rem 6rem;
}

.login input, .signup input {
padding:1rem;
width: 15rem;
}

.login-signup p{
  margin-bottom: 2rem;
  text-align: center;
  color: #00d1b2;
  font-weight: bolder;
}

.err-info {
  font-size: 16px;
  white-space: pre-line;
}

/* AddProduct */

.add-product form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.add-product button {
  margin-top:1%;
}

/* Navbar */

.navbar {
  margin-left: 5%;
  margin-right: 5%;
}

#logo {
  height: auto;
  width: 15%;
  margin-left: 400px;
}

.navbar-icon img {
  height: auto;
  width:100%;
  max-width: 50px;
  margin-left: 10px;
}

#profile-icon {
  max-width: 55px;
}

.navbar-icon {
  display: flex;
  align-items: flex-end;
  margin-left: -450px;
}


/* Searchbar */

.hr-line {
  background-color: #fff;
	border-top: 3px dashed #8c8b8b;
  margin-left: 2vh;
  margin-right: 2vh;
}

/* .sec-nav {
  display: flex;
  flex-direction: row;
} */

.searchbar {
  margin-top: 1%;
  margin-left: 35%;
}

.searchbar input{
  font-size: 20px;
  width: 400px;
  height: 60px;
}

.category-links {
  font-size: 20px;
  /* margin-left: 20%; */
}

.category-links div {
  margin-left: 5%;
}


.product-list, .product-detail, .cart-list {
  margin: 5vh;
}

.product-list ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cart-list li {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.order-form {
  text-align: center;
}

.order-form button {
  margin-top: 1%;
}

.order-form h1 {
  display: flex;
  text-align: center;
}

.product-list li {
  margin-left: 2vh;
  margin-top: 2rem;
}

.product-list h3 {
  text-align: center;
}

.product-list img, .cart-list img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-detail {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}

.product-detail img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.product-info {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-info input {
  width: 50%;
  margin-left: 20%;
}

.product-info button {
  padding: 2%;
}

.edit-form h1 {
  font-size: 26px;
  text-align: center;
  color: rebeccapurple;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form {
  position: absolute;
  margin-left: 40%;
}

.edit-form button {
  margin-top:1%;
}

.delete-btn {
  position: relative;
  margin-left: 72%;
  margin-top:5%;
}

/* profile page */

.level {
  margin: 2rem 2rem;
  font-size: 20px;
  padding: 10px;
}
 
.order-detail {
  margin-left:40%;
}

.order-list {
  margin-left: 49%;
}

.order-detail label{
  margin-left: 20%;
}

.order-detail table {
  width: 60%;
}

.notification {
  width:35%;
  margin-left:-5%;
}

.cart {
  margin-left: 30%;
  margin-top:10%;
}

.message {
  width:90%;
  margin-top: 8%;
}

.table {
  text-align: center;
  width:30vh;
}